body{
  background-color: green;
  margin: 0;
}
.wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  div{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    content: '';
    z-index: 0;
    transition: all 350ms ease-in-out;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  div.active{
    width: 100vw;
    height: 100vh;
    left: 0!important;
    top:0!important;
    background-position: 0 0!important;
    z-index: 1;
    transition: all 350ms ease-in-out;
  }
  div{
    background-image: url("/app/images/shvejtsariya_alpy_gory_noch_krasivyj_pejzazh_99817_3840x2160.jpg");
  }
}

